.button-upload {
    /* Reset OS-specfic / browser-specific default style (see https://ishadeed.com/article/styling-the-good-old-button/#the-default-styles) */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: rgba(255, 255, 255);
    /* to be replaced with your custom design */
    border: 1px solid currentColor;
    /* to be replaced with your custom design */
    /* Signify interactivity */
    border-radius: 4px;
    /* no physical button has a sharp corner; exact value to be replaced for your custom design */
    cursor: pointer;
    /* Match font style with the parent element */
    font: inherit;
    /* Make the button easy for touchscreen users to tap */
    min-height: 48px;
    min-width: 48px;
}

.button-upload:focus {
    outline-offset: 4px;
    /* make Chrome show a focus ring around the button */
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    background: #616161c9;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal.show {
    display: flex;
}

.box-in-modal {
    background: white;
    min-width: 100px;
    min-height: 100px;
    border-radius: 3px;
    padding: 17px;
}

.input-captcha {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px;
}

.po {
    color: #616161;
    font-weight: bold;
    margin-bottom: 21px;
}

.pp {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}